body{
    background-color: #131316;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;

}

section{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}

.hidden{
    opacity: 0;
}

.show{
    opacity: 1;
    transition: all 5s; 
}

@media(prefers-reduced-motion: reduce){
    .show{
        transition: none;
    }
}